NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "A[0]" LOC = "p191"; //IL0
NET "A[1]" LOC = "p190"; //IL1
NET "A[2]" LOC = "p196"; //IL2
NET "A[3]" LOC = "p194"; //IL3
NET "A[4]" LOC = "p198"; //IL4
NET "A[5]" LOC = "p197"; //IL5
NET "A[6]" LOC = "p200"; //IL6
NET "A[7]" LOC = "p199"; //IL7
NET "clk" LOC = "p5";	//IL8
NET "reset" LOC = "p7"; //IL9
NET "go" LOC = "p3";		//IL10
NET "Product[0]" LOC = "p139";	//OL0
NET "Product[1]" LOC = "p140";	//OL1
NET "Product[2]" LOC = "p137";	//OL2
NET "Product[3]" LOC = "p138";	//OL3
NET "Product[4]" LOC = "p133";	//OL4
NET "Product[5]" LOC = "p135";	//OL5
NET "Product[6]" LOC = "p131";	//OL6
NET "Product[7]" LOC = "p132";	//OL7
NET "Product[8]" LOC = "p149";	//OL8
NET "Product[9]" LOC = "p150";	//OL9
NET "Product[10]" LOC = "p147";	//OL10
NET "Product[11]" LOC = "p148";	//OL11
NET "Product[12]" LOC = "p144";	//OL12
NET "Product[13]" LOC = "p146";	//OL13
NET "Product[14]" LOC = "p141";	//OL14
NET "Product[15]" LOC = "p143";	//OL15
NET "state[0]" LOC = "p181";	//OL16
NET "state[1]" LOC = "p176";	//OL17
NET "state[2]" LOC = "p172";	//OL18